[build]
builder = "dockerfile"
dockerfilePath = "server/Dockerfile"
dockerContext = "server"

[deploy]
startCommand = "npm start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
